body {
    background-color: rgb(250, 250, 250);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spantag {
    color: #0db807;
    font-weight: 700;
    letter-spacing: normal;
}